html{
  font-size: 18px;
  font-family: Helvetica;
  width: 1350px;
}

/*Header*/
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;

}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-left: 24px;
}
header h1{
  font-size: 24px;
  font-weight: bold;
}
header h2{
  font-size: 24px;
}
header nav{
  display: flex;
  text-align: left;
  margin-right: 24px;
}
header nav span {
  margin: 16px;
}
.icons{
  display: none;
}
/*Banner*/
.top{
  display: flex;
  background-color: LightGray;
}
.top img{
  width: 60%;
  margin: 32px 24px;
  height: auto;
}
.top .caption{
  color: DarkSlateGray;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.top .caption h1{
  font-weight: bold;
  font-size: 2.3rem;
}
.caption p {
  margin-top: 16px;
  margin-bottom: 16px;
}
.caption .btn{
  color: LightGray;
  background-color: DarkSlateGray;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
.caption a {
  color: LightGray;
}
 /*Second Section*/
 .second{
   display: flex;
   width: 100%;
 }
 .second .left{
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: left;
   margin-left: 24px;
   margin-right: 24px;
 }
 .second .left img{
   margin-top: 32px;
   width: 100%;
 }
 .left h2{
   font-size: 2.3rem;
   font-weight: bold;
   color: DarkSlateGray;
   margin-bottom: 24px;
   margin-top: 24px;
 }
 .second .left{
   text-align: left;
   font-size: .7rem;
 }
 .left p{
   font-size: 1.5rem;
   margin-bottom: 24px;
 }
 .second .right{
   width: 40%;
   margin-top: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
 }
 .second .right img{
   width: 35%;
   height: 35%;
   padding: 16px;
 }
 .caps{
   width: 65%;
 }
 .caps p{
   margin: 8px auto;
 }
 .caps h4{
   font-size: 1.33rem;
   font-weight: bolder;
 }
 .date{
   display: flex;
   background-color: LightGray;
   align-items: center;
 }
.campus {
  display: flex;
  align-items: center;
}
.lecture {
  display: flex;
  background-color: LightGray;
  align-items: center;
}
/*Learning Section*/
.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 40px;
  width: 100%;
}
.learning h2{
  text-align: center;
  font-size: 2.333rem;
  font-weight: bold;
  color: DarkSlateGray;
  margin-top: 32px;
  padding-top: 32px;
}
.learning {
  background-color: LightGray;
}
.courses{
  flex-wrap: wrap;
}
.courses div{
  background-color: white;
  margin: 32px;
  width: 25%;
  height: 40%;
}
.courses .caps2{
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}
.courses .caps2 h3{
  font-size: 1.7rem;
  font-weight: bold;
  color: DarkSlateGray;
}
.courses .caps2 h4{
  margin-top: 16px;
  margin-bottom: 16px;
}
.courses div img{
  height: auto;
  width: 100%;
}
/*Thesis Exhibit*/
.info{
  display: flex;
}
.thesis h2{
  font-size: 2.33rem;
  font-weight: bolder;
  color: DarkSlateGray;
  text-align: center;
}
.video{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
video{
  width: 90%;
  height: auto;
  margin: 24px;
}
.content h3{
  padding-bottom: 8px;
  font-size: 2.33rem;
  color: DarkSlateGray;
  font-weight: bolder;
}
.content{
  width: 60%;
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 40px;
}
.right2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right2 img{
  width: 35%;
  height: 35%;
  margin: 16px;
}
.right2 h4{
  font-size: 1.33rem;
  color: DarkSlateGray;
  font-weight: bolder;
  margin-bottom: 16px;
}
.fisma {
  display: flex;
  background-color: LightGray;
  align-items: center;
}
.now {
  display: flex;
  align-items: center;
}
.caps3{
  width: 65%;
  display: flex;
  flex-direction: column;
}
/*Footer*/
footer{
  padding: 16px 24px;
  font-size: .8rem;
  display: flex;
  justify-content: space-between;
}

/*MOBILE MOBILE MOBILE*/
@media only screen and (max-width: 470px){
  html{
    width: 460px;
  }
  header{
    width: 100%;
    height: 64px;
  }
  header .logo h1{
    display: none;
  }
  header .logo h2{
    display: none;
  }
  header nav{
    display: none;
  }
  header .icons{
    display: flex;
    justify-content: space-around;
    padding: 8px 16px;
  }
  .top{
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .top img{
    width: 100%;
    margin-top: 0;
  }
  .top .caption{
    display: block;
    margin-left: 24px;
    width: 100%;
  }
  .top .btn{
    width: 90%;
    margin-bottom: 32px;
  }
  /*SECOND SECTION*/
  .second .left{
    display: none;
  }
  .second{
    width: 100%;
  }
  .date{
    width: 100%;
    flex-direction: column;
  }
  .campus{
    width: 100%;
    flex-direction: column;
  }
  .lecture{
    width: 100%;
    flex-direction: column;
    }
  .second .right img{
    padding: 16px;
    width: 70%;
    height: 35%;
  }
  .second .right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
  }
  .right .caps {
    width: 100%;
  }
  /*LEARNING SECTION*/
  .learning .courses img{
    display: none;
  }
  .learning .courses h4{
    display: none;
  }
  .learning .courses p{
    display: none;
  }
  .learning .courses{
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .learning .courses div {
    width: 100%;
    padding: 16px auto;
    margin: 16px auto;
  }
  .content{
    display: none;
  }
  .right2{
    display: none;
  }
  .video{
    width: 100%;
  }
  footer{
    font-size: .57rem;
  }

}
